@import "../Variables/variables";
@import "../App.css";

.blogPage {
  width: 80%;
  .description {
    font-size: 17px;
  }
  .quote {
    width: 90%;
    font-weight: 500;
  }

  .blogContent {
    border-bottom: $border;
  }
  form {
    background-color: $tertiaryColor;
  }
}
