@import "../Variables/variables";
@import "../App.css";

.productPage {
  width: 90%;
  .product {
    .variants {
      img {
        width: 60px;
      }
      img:hover {
        border: 1px solid $primaryColor;
      }
    }
    .salePrice {
      color: grey;
      margin-right: 10px;
      text-decoration: line-through;
    }

    .price {
      font-weight: 600;
    }
  }
  .formContainer {
    background-color: $tertiaryColor;
  }
  .reviews {
    background-color: $tertiaryColor;
  }
}
