@import "../Variables/variables";
@import "../App.css";

.shop {
  width: 90%;

  .products {
    gap: 56px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .heading {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: $border;

    h2 {
      font-size: 80px;
      font-weight: 400;
    }
    p {
      font-size: 18px;
    }
  }
}
